{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Amplitude Studentizada</title>
    <meta charset="utf-8">
    <meta name="author" content="Till Duo">
</head>

<body>
    <h1>Amplitude Studentizada</h1>

    <div>
        <form action="{% url 'create_table' %}" id="create_table" name="create_table">
            
            <label for="inicio">Inicio</label>
            <table id="inicio" border="1">
                <tr>
                    <td>Tratamentos (k)</td>
                    <td><input type="number" id="k" name="k" min="0" value="{{ k }}"
                            style="border: 0; text-align: center;"></td>
                </tr>
                <tr>
                    <td>Repetições (n)</td>
                    <td><input type="number" id="n" name="n" min="0" value="{{ n }}"
                            style="border: 0; text-align: center;"></td>
                </tr>
                <tr>
                    <td>Alfa</td>
                    <td>
                        <select id="alfa" name="alfa">
                            {% for af in alfa_list %}
                                <!-- não está mantendo o alfa selecionado -->
                                <option value="{{ af }}"{% if af == alfa %} selected{% endif %}>{{ af }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% for item in items %}
                <tr>
                    <td>GL{{ forloop.counter }}</td>
                    <td><label>{{ item }}</label></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Gerar tabela de tratamentos">
        </form>
    </div>

    <br>

    <div>
        <form action="{% url 'calcule_tukey' %}" id="calcule_tukey">
            <p>Tratamentos</p>
            {% autoescape off %}
            {{ table }}
            {% endautoescape %}
            <input type="submit" value="Calcular">
        </form>
    </div>

    <!--testando ajax-->
    <!--script src="{% static 'js/scripts.js' %}"></script-->
</body>

</html>