<h1>Amplitude Studentizada</h1>

<div>
    <form action="{% url 'create_table' %}">
        <label for="inicio">Inicio</label>
        <table id="inicio" border="1">
            <tr>
                <td>Tratamentos (k)</td>
                <td><input type="number" id="k" name="k" min="0" value="{{ k }}"></td>
            </tr>
            <tr>
                <td>Repetições (n)</td>
                <td><input type="number" id="n" name="n" min="0" value="{{ n }}"></td>
            </tr>
            <tr>
                <td>Alfa</td>
                <td><input type="text" id="alfa" name="alfa" value="{{ alfa }}"></td>
            </tr>
            {% for item in items %}
            <tr>
                <td>GL{{ forloop.counter }}</td>
                <td><label>{{ item }}</label></td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Gerar tabela de tratamentos">
    </form>
</div>

<div>
    <form action="{% url 'average' %}">
    <label for="tratamento">Tratamentos</label>
    <table id="teste">
        {% for row in list %}
            <tr>
            {% for cell in row %}
            {% if forloop.first or forloop.parentloop.first %}
                <th> 
                {% else %} <td> {% endif %} {{ cell }}
                {% if forloop.first or forloop.parentloop.first %}
                </th>
                {% else %} 
                <input type="text" style="width: 50px; text-align: center;">  
                </td> {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Submeter">
</form>

</div>